.netrwhist
.angular-config.json
.aspnet/
.bash_history
.bash_logout
.cache/
.dotnet/
.gitconfig
.hushlogin
.landscape/
.lesshst
.local/scripts/
.microsoft/
.motd_shown
.node_repl_history
.npm/
.nuget/
.nvm/
.oh-my-zsh/
.profile
.shell.pre-oh-my-zsh
.ssh/
.sudo_as_admin_successful
.tmux/
.viminfo
.wget-hsts
.zcompdump
.zcompdump-DESKTOP-IARGUAA-5.8
.zcompdump-DESKTOP-IARGUAA-5.8.zwc
.zsh_history
.zshrc.pre-oh-my-zsh
dest/
go/
template_script.sh
test/
vsdbg/
